.Gallery {
    min-height: 100vh;
    width: 100%;
    background-color: #060606;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ContactData{
    margin: 20px auto;
    background-color:rgb(204, 156, 67);
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10%;
    color: white;
}

.Input{
    width: 100%;
    height: 50px;
    border: 1px solid blue;
    background-color: rgb(236, 235, 232);
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
}

@media(min-width: 500px) {
    .ContactData{
        width: 500px;
    }
}